#calculator
{
  border: 1px solid rgb(223, 69, 69);
  border-radius: 5px;
  width: 300px;
  margin: 10%;
  margin-left: 40%;
}

#display
{
  margin: 10px 10px;
  width: 64%;
  height: 50px;
  text-align: right;
  font-size: 24px;
}

#back
{
  height: 50px;
  width: 50px;
  margin: 13px;
}

.btn-container
{
  display: flex;
  justify-content: center;
}

.btn
{
  height: 50px;
  width: 50px;
  margin: 13px;
}